@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap');
:root{

    background-color: aliceblue;
    background-image: url('./survey.jpg');
    background-repeat: no-repeat;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
}




